h1 {
  background-color: red;
  color: white;
  font-family: helvetica;
  text-decoration: underline;
}


h2 {
  background-color: blue;
  color: white;
  font-family: sans-serif;
}

p {
  font-weight: bold;
  font-size: 16px;
  background-color: green;
}
